.container {
    background-image: url(media/bg.jpg);
}

.header{
    width: 50%;
    margin: auto;
}

.judul {
    text-align: center;
    font-family: monospace;
    font-style: oblique;
    font-size: 40px;
    margin: auto;
    padding: 20px;
}

.judul a {
    text-decoration: none;
}

.judul a:active {
    color: lightpink;
}

.navbar {
    text-align: center;
    padding: 10px;
}

.navbar a{
    color: black;
    font-family: monospace;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: lightpink;
    color: deeppink;
}

.middle {
    width: 100%;
    height: 100%;
}

#vids {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border: 5px dashed black;
    box-sizing: border-box;
}

#vids video {
    width: 100%;
}

.home {
    width: 100%;
    height: 100%;
    padding: 20px;
}

#homeimg {
    width: 450px;
    height: 250px;
    background-image: url(media/redhood.jpg);
    background-repeat: no-repeat;
    background-position: -60px 0px;
    border: 5px dashed black;
    box-sizing: border-box;
    -webkit-transition: width 3s, height 3s, transform 3s;
    margin-top: 30px;
    margin-right: 25px;
    float: left;
}

#homeimg:hover {
    width: 500;
    height: 350px;
    transform: rotate(360deg);
}

#c1 {
    background-color: lightpink;
    border: 5px dashed black;
    box-sizing: border-box;
    width: 55%;
    margin-left: 20px;
    float: left;
}

#c1 h1 {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

#c1 p {
    font-family: monospace;
    font-size: 20px;
}

#c2 {
    background-color: lightpink;
    border: 5px dashed black;
    box-sizing: border-box;
    width: 700px;
    float: left;
}

#c2 h1 {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

#c2 p {
    font-family: monospace;
    font-size: 20px;
}

#c3 {
    margin-top: 80px;
    margin-left: 50px;
    width: 550px;
    float: left;
}

#c3img1 {
    background-image: url(media/bisqueold.jpg);
    background-size: cover;
    border: 5px dashed black;
    box-sizing: border-box;
    width: 180px;
    height: 350px;
    float: left;
}

#c3img2 {
    background-image: url(media/france1.gif);
    background-size: cover;
    border: 5px dashed black;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-left: 50px;
    float: left;
}

.about {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.about h1 {
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}

#aboutimg {
    width: 500px;
    height: 250px;
    margin: auto;
    background-image: url(media/aurora.jpg);
    background-size: cover;
    background-position: 0 -35px;
    border: 5px dashed black;
    box-sizing: border-box;
}

.about p {
    background-color: lightpink;
    border: 5px dashed black;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 20px;
}

#aboutstts {
    background-image: url(media/stts.jpg);
    background-size: cover;
    border: 5px dashed black;
    box-sizing: border-box;
    width: 500px;
    height: 350px;
    margin: auto;
    margin-bottom: 25px;
}

#biodata {
    background-color: lightpink;
    font-family: monospace;
    font-size: 20px;
    width: 300px;
    margin: auto;
    margin-top: 25px;
    border: 5px dashed black;
    box-sizing: border-box;
}

.news {
    background-color: lightpink;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px dotted black;
    box-sizing: border-box;
    padding: 20px;
}

#newsvid {
    width: 500px;
}

#newsvid h1 {
    font-family: monospace;
    font-size: 30px;
}

#newsvid video {
    border: 5px dashed black;
    box-sizing: border-box;
    width: 100%;
}

#newsdolls1 {
    height: 400px;
    margin-top: 70px;
}

#newsdolls1 h1 {
    font-family: monospace;
    font-size: 30px;
}

#newsimg1 {
    background-image: url(media/news1.jpg);
    background-size: cover;
    border: 5px dashed black;
    box-sizing: border-box;
    transform: .1s;
    margin: auto;
    width: 450px;
    height: 250px;
    float: left;
}

#news1 {
    width: 210px;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    margin-left: 30px;
    float: left;
    opacity: 0.1;
    -webkit-transition: width 3s, height 3s;
}

#newsimg1:hover + #news1 {
    width: 300px;
    height: 300px;
    opacity: 1;
}

#newsdolls2 h1{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}

#newsimg2 {
    background-image: url(media/news2.jpg);
    background-size: cover;
    border: 5px dashed black;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    margin: auto;
    -webkit-transition: width 3s, height 3s, transform .5s; 
}

#newsimg2:hover {
    transform: scale(1.5);
}

#newsdolls2 p {
    font-family: monospace;
    font-style: oblique;
    font-weight: bold;
    font-size: 15px;
}

.footer {   
    background-color: violet;
    width: auto;
    padding: 10px;
    border: 5px dashed black;
    box-sizing: border-box;
}

.copyright {
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}

/*for mobile*/
@media screen and (max-width: 480px) {   
    .header {
        width: 100%;
    }
    
    .home {
        padding: 0px;
    }
    
    #homeimg {
        width: 200px;
        height: 150px;
        background-position: -160px;
        margin-left: 50px;
    }
    
    #c1 {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
    }
    
    #c1 h1 {
        font-size: 20px;
    }
    
    #c1 p {
        text-align: center;
        font-size: 100%;
        font-weight: bolder;
    }
    
    #c2 {
        width: 100%;
    }
    
    #c2 h1 {
        font-size: 20px;
    }
    
    #c2 p {
        text-align: center;
        font-size: 100%;
        font-weight: bolder;
    }
    
    #c3 {
        width: 100%;
        margin: 0px;
        padding-bottom: 15px;
    }
    
    .c3img {
        width: 100%;
    }
    
    #c3img1 {
        width: 200px;
        height: 300px;
        margin-top: 15px;
        margin-left: 15px;
        float: left;
    }
    
    #c3img2 {
        width: 200px;
        height: 250px;
        margin-left: 30px;
    }
    
    .about {
        width: 100%;
        padding: 0px;
        padding-bottom: 10px;
    }
    
    #aboutimg {
        width: 250px;
        height: 150px;
    }
    
    #aboutstts {
        width: 300px;
        height: 200px;
    }
    
    .news {
        background-color: lightpink;
        border: none;
        width: 100%;
        padding: 0px;
    }
    
    #newsvid {
        width: 100%;
        text-align: center;
    }
    
    #newsdolls1 {
        width: 100%;
        text-align: center;
        font-size: 100%;
        padding-bottom: 30px;
    }
    
    #newsimg1 {
        width: 300px;
        height: 200px;
        margin-left: 50px;
        pointer-events: none;
        float: none;
    }
    
    #news1 {
        width: 100%;
        height: 100px;
        margin-top: 20px;
        margin-left: 0px;
        font-size: 100%;
        opacity: 1;
    }
    
    #newsdolls2 {
        width: 100%;
    }
    
    #newsimg2 {
        width: 300px;
        height: 250px;
        background-position: -40px;
    }
    
    #newsdolls2 p {
        text-align: center;
        font-size: 100%;
        font-weight: bolder;
    }
    
    .footer {
        background-color: hotpink;
    }
}
